.modalV {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
    overflow: auto;
    
}

.modalV-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);

}

.modalV-wrapper {
    background: black;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 100%;
    height: 50%;
}

.modalV-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modalV-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modalV-body {
    max-width: 100rem;
    margin: 4rem auto;
    max-height: 90%;
    min-height: 70%;
    position: relative;
    top:5rem;
    
}

.modalV-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.closeV {
    position: absolute;
    right: 1rem;
    z-index: 2;
    background-color: transparent;
}

.close-modalV-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
    
}

.close-modalV-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modalV-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
