.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik1FVkROREk0TURjNVJrUXlRMFF3T0RjNU1FUTNNVVUzUmpsR01rWkJSVEl3UlRNMVF6RTVPUSJ9.eyJodHRwczovL3ZpbW9uZC9lbWFpbCI6InRob21hc0B2aW1vbmQuY29tIiwiaHR0cHM6Ly92aW1vbmQvZW1haWxfdmVyaWZpZWQiOnRydWUsImh0dHBzOi8vdmltb25kL21lbWJlcklkIjoxMDA0NCwiaHR0cHM6Ly92aW1vbmQvYWxsb3dJbnN0cnVtZW50YXRpb24iOnRydWUsImh0dHBzOi8vdmltb25kL3N2b2QiOiI0NDksMjgzNCw2MzEsNDA3Miw2NDkiLCJodHRwczovL3ZpbW9uZC9nZW9ibG9jayI6eyJieXBhc3MiOnRydWV9LCJpc3MiOiJodHRwczovL3ZpbW9uZC1kZXYtZW5kdXNlci52aW1vbmQuYXV0aDAuY29tLyIsInN1YiI6ImF1dGgwfDEwMDQ0IiwiYXVkIjpbImh0dHBzOi8vdmltb25kLWRldi1lbmR1c2VyLnNpbmdsZWFwcC52aW1vbmQuY29tLyIsImh0dHBzOi8vdmltb25kLWRldi1lbmR1c2VyLnZpbW9uZC5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNTcwNjE5NDE1LCJleHAiOjE1NzA2MjY2MTUsImF6cCI6InI5NnAxNkJWdzB0dENLSm1tS2J4ZXZ0b0RzMnNGNDFSIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCBwaG9uZSByZWFkOmN1cnJlbnRfdXNlciB1cGRhdGU6Y3VycmVudF91c2VyX21ldGFkYXRhIn0.UlLkBDxQO6X4BcsMRAhvV6HVYsV8Fb2wYdAlGGw9augk-hhJTNb-Pegm3F00yaR5mzmoIjA7dwGsAZeW2eJKRa9YOeo-MUCz9YX4Z0OssNysn3inr43s56lXrSM2KuFodxYM8bm8UjCv2wjLHOQqjYOs4yuQgNVtDjZVSam9QgkeS4tgZHv6CldrZlOlhuRobtzme0sNzHWMQo0m0OWD5Bekol3JgT0A-VJxlyV3OD9_jGmSwm6w39t1lrx3M37bm9RhyhO0clc17WK6cLH-Rp-1ayoljQIgGXKjX9qkvWED2X7GZHIA3l0lebbW6gJ3PGJayVKqB6Bpg0u9IOlobQ&
scope=openid%20profile%20email%20phone%20read%3Acurrent_user%20update%3Acurrent_user_metadata
&expires_in=7200
&token_type=Bearer
&state=lgGIY8fnz3ZFeTwLpmuJBazItRynavGv
&id_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik1FVkROREk0TURjNVJrUXlRMFF3T0RjNU1FUTNNVVUzUmpsR01rWkJSVEl3UlRNMVF6RTVPUSJ9.eyJodHRwczovL3ZpbW9uZC91c2VyX21ldGFkYXRhIjp7InZpbW9uZC1yZWdpc3RyYXRpb25fZGF0ZSI6MTM3ODM3Njk0Miwib2lkYy1naXZlbl9uYW1lIjoiVGhvbWFzIiwib2lkYy1mYW1pbHlfbmFtZSI6IkFhbGVuIiwib2lkYy1uaWNrbmFtZSI6InNvcGVyZG9wZXJtYW4iLCJvaWRjLXByZWZlcnJlZF91c2VybmFtZSI6InRhYWxlbjIiLCJvaWRjLXBob25lX251bWJlciI6Iis0Nzk4MjQyOTA4Iiwib2lkYy1hZGRyZXNzLXN0cmVldF9hZGRyZXNzIjoiTnloYXVnYXNlbiA0Iiwib2lkYy1hZGRyZXNzLWxvY2FsaXR5IjoiQmVyZ2VuIiwib2lkYy1hZGRyZXNzLXJlZ2lvbiI6IkFLIiwib2lkYy1hZGRyZXNzLXBvc3RhbF9jb2RlIjoiNTA3MjIiLCJvaWRjLWFkZHJlc3MtY291bnRyeSI6Ik5vcndheSIsIm9pZGMtbmFtZSI6IlRob21hcyBBYWxlbiIsIm9pZGMtYmlydGhkYXRlIjoiMTk3NC0wOC0xMCIsIm9pZGMtem9uZWluZm8iOiJVVEMiLCJvaWRjLWxvY2FsZSI6ImVuLVVTIn0sIm5pY2tuYW1lIjoidGhvbWFzIiwibmFtZSI6InRob21hc0B2aW1vbmQuY29tIiwicGljdHVyZSI6Imh0dHBzOi8vcy5ncmF2YXRhci5jb20vYXZhdGFyL2E5YmVlZjhmYTg2YWY4Y2Y5Njg0ZGY5YTc1NDA5NDhkP3M9NDgwJnI9cGcmZD1odHRwcyUzQSUyRiUyRmNkbi5hdXRoMC5jb20lMkZhdmF0YXJzJTJGdGgucG5nIiwidXBkYXRlZF9hdCI6IjIwMTktMTAtMDlUMTE6MTA6MTUuMzE0WiIsImVtYWlsIjoidGhvbWFzQHZpbW9uZC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaXNzIjoiaHR0cHM6Ly92aW1vbmQtZGV2LWVuZHVzZXIudmltb25kLmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHwxMDA0NCIsImF1ZCI6InI5NnAxNkJWdzB0dENLSm1tS2J4ZXZ0b0RzMnNGNDFSIiwiaWF0IjoxNTcwNjE5NDE1LCJleHAiOjE1NzA2NTU0MTUsImF0X2hhc2giOiIyZlVRdmEyaXpLMDU0SDVSZEY0WjVBIiwibm9uY2UiOiIwQkRxb0EtQXYzOHlYcFA5ZUpmfmlRZ3BYM2Y0NmNWOSJ9.fwj2YWdsLHSZKnsK3DAiqG1yFMjLiZUUTaapUL0JQww3x6844m4ZgrWVgOITRkuFS6ECmeJc_WLMM1ByhUj6embhbN3Eh8aCiAbrwYuNu36hNcYRBwDOX8PrxSWHjplGuVEto8pbMacv-V4Io4Zy18vpRq4YBDg7GFmJo0cfsarSVxQYdVxJIUUaZW0I-Y3n19Fl17CpGu_d4Wp6Z3VyUO84fomU2amnCB_K0sJFO0dg5GJ2UXTgfM0D8ksab60Z62CmSmYSvr2DW-DA-myFsvZ4zJiFL0k1iT_akWCjGDAI4DrPD2o1yN3gunhG-9YbNvA8QJ5Pcjr37QNFVl2ehQ