.app {
  color:white;
  font-family: Roboto Condensed,sans-serif;
  font-size: .875rem;
  line-height: 1.5;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app svg {
  height: 2rem;
  fill: white;
  float: left;
}

.app h1 {
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
  margin: 0 0 0 1rem;
  padding-left: 1rem;
  color: white;
}

.page-header h1 {
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
  margin: 0 0 0 1rem;
  padding-left: 1rem;
  border-left: 1px solid white;
  color: white;
}

h1, h2 {
  font-weight: 300;
}
.app.config .page-header {
  background-color: #1f2532;
  padding-bottom: 0;
  margin-bottom: 0;
}


.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 3rem;
  background: -moz-linear-gradient(top, rgba(11,14,19,1) 0%, rgba(11,14,19,1) 1%, rgba(11,14,19,0.72) 37%, rgba(11,14,19,0) 93%, rgba(11,14,19,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(11,14,19,1) 0%,rgba(11,14,19,1) 1%,rgba(11,14,19,0.72) 37%,rgba(11,14,19,0) 93%,rgba(11,14,19,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(11,14,19,1) 0%,rgba(11,14,19,1) 1%,rgba(11,14,19,0.72) 37%,rgba(11,14,19,0) 93%,rgba(11,14,19,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}
.page-header button {
  background: transparent;
  border: none;
  outline: none;
  padding: 2rem;
  cursor: pointer;
  pointer-events: all;
  max-width: 2rem;
}
.page-header button svg {
  height: 2rem;
  fill: white;
}
.page-header .home {
  display: flex;
  align-items: center;
  text-decoration: none;
  pointer-events: all;
  margin-bottom: 0.1rem;
}
.page-header .home svg {
  height: 2rem;
  fill: white;
}
.page-header .lab {
  display: flex;
  align-items: center;
  text-decoration: none;
  pointer-events: all;
  margin-bottom: 0.1rem;
}
.page-header .logo {
  margin-bottom: 0.25rem;
}
.page-header nav {
  pointer-events: all;
}
.page-header nav ul {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}
.page-header .page-tabs {
  margin-left: 5rem;
}
.page-header .page-tabs li {
  display: inline;
}
.page-header nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  margin-right: 1rem;
}
.page-header nav a.selected {
  border-bottom: 2px solid orange;
}
/* Page Mneu */
.app.page-menu-open .page-menu {
  transform: translate3d(0,0,0);
}

.page-menu-glasspane {
  display: none;
}
.app.page-menu-open .page-menu-glasspane {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.page-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.91);
  height: 100vh;
  box-sizing: border-box;
  padding-top: 6.25rem;
  z-index: 2;
  min-width: 21rem;
  overflow-y: auto;
  transition: all 150ms ease-out;
  transform: translate3d(-100%,0,0);
}
.page-menu ul {
  padding: 0;
  margin: 0;
}
.page-menu a, .page-menu div {
  padding: 0.75rem 2.5rem;
  color: white;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.page-menu li:first-child {
  margin-bottom: 2rem;
}
.page-menu a:hover, .page-menu div:hover,.page-menu a.selected:hover {
  background-color: rgba(31,37,50,0.95);
  cursor: pointer;
}
.page-menu a.selected {
  background-color: rgba(31,37,50,0.5);
}

/* Profile Menu */
.profile-menu-icon {
  right:10rem;
  top:0rem;
  position:fixed;
  z-index: 12;
  display: flex;
  
}
.profile-subprofile-header {
  margin: auto;
}
.profile-login-logo {
  position: absolute;
  white-space: nowrap;
  
}

.profile-menu-icon button {
  background: transparent;
  border: none;
  outline: none;
  padding: 2rem;
  cursor: pointer;
  pointer-events: all;
  margin: 0rem;

}

.profile-menu-icon button svg {
  height: 3rem;
  width: 3rem;
  fill: white;
  float: left;
}

.profile-menu-icon button h1 {
  line-height: 3;
}


.profile-menu-icon img {
  border-radius: 50%;
  margin-left: 3rem;
}

.app.profile-menu-open .profile-menu {
  transform: translate3d(0,0,0);
}

.profile-menu-glasspane {
  display: none;
}
.app.profile-menu-open .profile-menu-glasspane {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.profile-menu {
  position: fixed;
  top: .1rem;
  right: 0rem;
  background: rgba(0,0,0,0.91);
  /*background-color: rgba(29,30,33,.95);*/
  height: 100vh;
  box-sizing: border-box;
  padding-top: 6.25rem;
  z-index: 2;
  min-width: 21rem;
  overflow-y: auto;
  transition: all 150ms ease-out;
  /*transform: translate3d(0,-110%,0);*/
  transform: translate3d(110%,0,0);
  /*outline: 2px solid hsla(0,0%,100%,.2);*/
}
.profile-menu svg {
  height: 2rem;
  width: 2rem;
  fill: white;
  float: left;
}


.profile-menu ul {
  padding: 0;
  margin: 0;
}
.profile-menu a, .profile-menu div {
  padding: 0.75rem 2.5rem;
  color: white;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
/*.profile-menu li:first-child {
  margin-bottom: 2rem;
}*/
.profile-menu a:hover, .profile-menu div:hover,.profile-menu a.selected:hover {
  background-color: rgba(31,37,50,0.95);
  cursor: pointer;
}
.profile-menu a.selected {
  background-color: rgba(31,37,50,0.5);
}


/* Profile */

.profile {

  background: #1f2532;
  background-color: rgba(29,30,33,.95);
  position: relative;
  margin-top: 2rem;
  padding-bottom: 1rem;
  width:100%;
  display: grid;
  grid-template-columns: 25% 75%;
  overflow-y: auto;
  
  
}


.profile-img{
  margin: auto;
  padding: 10px;
 
}


.profile-img img{
    border-radius: 50%;
    height: 10rem;
}
.profile-tabs {
  height: 3rem;
  background-color: rgba(29,30,33,.95);
}

.profile-info {
  
  margin-left: 2rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
 
}

.profile-content {
  
  margin-left: 2rem;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  
}

.edit-profile-form {
  
  position: relative;
  margin-top: 2rem;
  padding-bottom: 1rem;
  width:100%;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow-y: auto;

}

.edit-profile-info {
  
  margin-left: 2rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
 
}

.edit-profile-actions {
  
  margin-left: 2rem;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  
}

.edit-action-group {
margin-top: 12rem;

}

/* Input **/

input {
  background: #fff;
  border: 0;
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #201c29;
  padding: .75rem 1.5rem .75rem 1.5rem;
  /*border-radius: 27px;*/
  -webkit-appearance: unset;
  margin-right: 4rem;
  width: 20%;
  font-size: .70rem;
  font-weight: 500;
  
}
.input-list {
  width:90%;
  
}

.input-item {
  
  margin-top:1rem;
}

.input-item-active input{
  border-bottom: 2px solid #F27200;
  font-weight: 700;
}

.input-item-active label{
  color: black;
  border-bottom: 2px solid #F27200; 
}

label {
  padding: .75rem .5rem .75rem .5rem;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #9b9b9b;
}

button {
  background: #201c29;
  border: 0;
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  padding: .75rem 1.5rem .75rem 1.5rem;
  -webkit-appearance: unset;
  margin-right: 4rem;
  max-width: 30rem;
  width: 10rem;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;

}


/* TABS */
.tabs {
  height: 100%;
}

.tab-content {
  background: #f1f2f2;
  margin: 1rem;
  color: #1f2532;
  max-height: 100%;
}

.tab-list {
  
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  border-bottom: 1px solid #F27200;
}

.pretty-container {

  height: 100%;
  background: #1f2532;
}

/* Custom login popup*/
.customlogin-form {
  position: absolute;
  margin-left: 2rem;
  width: 100%;
  padding-bottom: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-y: auto;
  background: transparent;
  background-image: url(https://source.unsplash.com/collection/4299685/1920x1080);
  background-size: cover;
  height: 100%;
}



.customlogin-content {
  
  margin-left: 100px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: list-item;
  z-index: 1;
 
}

.customlogin-content .tab-content {
  background: transparent;
}

.customlogin-content .tab-list {
  margin-top: 6rem;
}

.customlogin-actions {
  
  margin-left: 2rem;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  
}
.customlogin-content .input-group {
  margin-top: 3rem;
  z-index: 200;
}
.customlogin-content button {
  margin-top: 4rem;
}
.customlogin-icon-vimond {

  left: 150px;
  position: absolute;
  top: 3rem;

}


.customlogin-form-overlay {
  
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 100px;
  width: 360px;
  background: rgba(0,0,0,.2);
  transition: all .3s ease-in;
  transition-delay: .25s;
  opacity: 1;
}


/* CSS DEFINITIONS FOR Additional sample pages */

.page {
  
  box-sizing: border-box;
  background-color: black;
  min-height: 100vh;
  color: white;
  
}

.page-padding {
  padding: 4rem 2.5rem 2.5rem;
  
  
}



.core-cover .cover-art .cover {

  background-size: contain;
  background-color: #1f2532;

}


.userPages {

  background-color:black;
  
  
  padding-top: 7rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  
}




.userPages h1 {
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
  margin: 0 0 0 1rem;
  padding-left: 1rem;
  border-left: 1px solid black;
  color: white;
}
.userPages svg {
  height: 2rem;
  fill: white;
}

.carousel {
  max-height: stretch;
}

.carousel img{
  max-height: 100%;
}



.covers {
  display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    list-style:none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    width: 100%;
    margin-left: 1rem;
    text-align: center;
}

.list-options {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style:none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  width: 70%;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.icons {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  
}


.icons svg {
  height: 3rem;
  fill: white;
}

.icons-text {
  position: relative;
  vertical-align: bottom;
}


.brand-icon svg {
  height: 1rem;
}
.brand-icon {
  display: flex;
  align-items: center;
}

.covers li{
  margin-bottom: 4rem;
}

.cover {
  display: block;
  object-fit: cover;
  flex-shrink: 0;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  transition: all 50ms ease-in-out;
  max-height: 28rem;
  margin-left:1rem;
  cursor: pointer;
 
}

.cover:hover {
  opacity: 1;
  box-shadow: 0 0 3rem black;
  transform: scale(1.01);
  z-index: 1;
}






/** Show Assets */

.single {
  height: 40rem;
}

/** Catgeoy Inline */

.category-episodes {
  position: absolute;
  top: 3rem;
  left: 500px;
  z-index: 1;
  width: 560px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in;
  transition-delay: .25s;

}

.seasons-gradient{
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  display: block;
  top: 0;
  left: 0px;
  
  background: rgba(0,0,0,.6);
  transition: all .3s ease-in;
  transition-delay: .25s;
  opacity: 1;
  margin-bottom: 1rem;
}

.info-text{
  height: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2rem;
  white-space: normal;
}


/* SLIDER */

.slider {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 10%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 10%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

/* Search */

.search-group {
  padding: 2px;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3rem;
  margin-right:5rem;
  margin-bottom: 1rem;
  width: 60%;

}

.search-input {
  background: #201c29;
  border: 0;
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  padding: .75rem 1.5rem .75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: unset;
  width:100%;

}

.search-icon {

  border: 0;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    background-image: -webkit-gradient(linear,left top,right top,from(#FFAA49),to(#F6387A));
    background-image: linear-gradient(to right,#FFAA49,#F6387A); 
    padding: 0 22px 0 18px;

}

.collection-header {
margin-bottom: 3rem;

}

.tmdb-logo {
  right:4rem;
  position:fixed;
  top:2rem;
}
.tmdb-logo img{
  z-index:30;
  width:2rem;
  height: 2rem;
  z-index: 30;
}


.subProfileCovers {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
 
  color: white;
  margin-left: 17rem;
  margin-right: 17rem;
  
}

.subProfileCover {
  display: block;
  background-color: #1f2532;
  object-fit: cover;
  flex-shrink: 0;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  transition: all 50ms ease-in-out;
  height: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  width: 6rem;
 
 
}
.subProfileInput, .loginInput {
  width: 20rem;
  color: grbey;
  text-align: start;

}

.subProfileInputGroup, .loginInputGroup {
margin-top: 3rem;

}

.subProfileCover  img {
 
  height: 4rem;
  width: 4rem;
  margin: 1rem auto;
}

.subProfileAdd {
  margin: auto;
  width:100%;
  display: inline-grid;
}

.subProfileCover  svg {
  
  height: 4.4rem;
  width: 4.4rem;
  margin: 1rem auto;
}

.subProfileCover  h1 {
  font-size: 1rem;
line-height: 2;
text-transform: uppercase;
margin: auto;
padding-left: .1rem;
border-left: none;
color: white;
}

.subProfileCover:hover {
  opacity: 1;
  box-shadow: 0 0 3rem #1f2532;
  transform: scale(1.06);
  z-index: 2;
  height: 6rem;
}

.subprofile-edit {
  margin-top: 2rem;
}
.subprofile-edit input {
  background: #fff;
  border: 0;
  min-width: 10rem;
  flex: 1 1;
  color: #201c29;
  padding: .75rem 1.5rem .75rem 1.5rem;
  -webkit-appearance: unset;
  width: 10rem;
  margin: auto;
  font-size: .70rem;
  font-weight: 500;
}

.subprofile-edit select {
  background: #fff;
  border: 0;
  min-width: 13rem;
  flex: 1 1;
  color: #201c29;
  padding: .75rem 1.5rem .75rem 1.5rem;
  -webkit-appearance: unset;
  width: 10rem;
  margin: auto;
  font-size: .70rem;
  font-weight: 500;
}